extends layout

block layout-content
  div.View
    h1.Banner LocSSIP
    div.Message
      div.Title
        h3 Generate and Compete LocSSIP Forms
        h1 For any procedure...
      span.Details LocSSIP portal
    .Title  Sign Up
    form(action="/api/1.0/users", method="POST")
      div.FormGroup
        label(for="username") Username
        input#username(type="text", name="username", placeholder="Username")
      div.FormGroup 
        label(for="email") Email
        input#email(type="email", name="email", placeholder="Email")
      div.FormGroup
        label(for="role") Role
        input#role(type="text", name="role", placeholder="Role")
      div.FormGroup
        label(for="password") Password
        input#password(type="password", name="password", placeholder="Password")
      div.FormGroup
        button(type="submit") Log in
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in! 